{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Modelz API",
        "title": "Modelz API",
        "contact": {
            "name": "modelz support",
            "url": "https://github.com/tensorchord/modelz",
            "email": "modelz-support@tensorchord.ai"
        },
        "version": "v0.0.12"
    },
    "host": "cloud.modelz.ai",
    "basePath": "/api/v1",
    "paths": {
        "/clusteragent/connect": {
            "get": {
                "description": "Managed cluster agent connect",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "Managed cluster agent connect",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/clusters/{cluster_id}/server_resources": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the server resources.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "Get the server resources.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ServerResourceInfo"
                            }
                        }
                    }
                }
            }
        },
        "/fake-error": {
            "get": {
                "description": "It should not be used.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "fake error.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/pkg_server.Error"
                        }
                    }
                }
            }
        },
        "/gradio/{id}": {
            "get": {
                "description": "Reverse proxy to the backend gradio.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend gradio.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "post": {
                "description": "Reverse proxy to the backend gradio.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend gradio.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/info": {
            "get": {
                "description": "Get system info.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Get system info.",
                "parameters": [
                    {
                        "type": "boolean",
                        "description": "with agent info",
                        "name": "with-agent",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.Version"
                        }
                    }
                }
            }
        },
        "/mosec/{id}": {
            "get": {
                "description": "Reverse proxy to the backend mosec.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend mosec.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/mosec/{id}/inference": {
            "post": {
                "description": "Reverse proxy to the backend mosec.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend mosec.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/mosec/{id}/metrics": {
            "get": {
                "description": "Reverse proxy to the backend mosec.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend mosec.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/other/{id}": {
            "get": {
                "description": "Reverse proxy to the backend other.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend other.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "post": {
                "description": "Reverse proxy to the backend other.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to the backend other.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/ping": {
            "get": {
                "description": "get the status of server.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Show the status of server.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/public_templates": {
            "get": {
                "description": "List the public template.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "template"
                ],
                "summary": "List the public template.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.Template"
                            }
                        }
                    }
                }
            }
        },
        "/streamlit/{id}": {
            "get": {
                "description": "Reverse proxy to streamlit.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to streamlit.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "post": {
                "description": "Reverse proxy to streamlit.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inference"
                ],
                "summary": "Reverse proxy to streamlit.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deployment ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/system/register_hook": {
            "post": {
                "description": "Webhook handler for new users. Only called by the supabase when a new user is created.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Webhook handler for new users.",
                "parameters": [
                    {
                        "description": "query params",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_pkg_internal_types.TableRecord"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/system/spend_limit_hook": {
            "post": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "spend limit webhook",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bill",
                    "system"
                ],
                "summary": "Spend limit webhook",
                "parameters": [
                    {
                        "description": "query params",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.SpendLimitHookRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/system/stripe_hook": {
            "post": {
                "description": "Webhook handler for payment method. It is for stripe setup_intent.succeeded.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Webhook handler for payment method.",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/teams/": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List user teams.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "team"
                ],
                "summary": "List user teams.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.TeamListResponse"
                        }
                    }
                }
            }
        },
        "/teams/accept_invite": {
            "post": {
                "description": "Invite a user to the team.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "team"
                ],
                "summary": "Invite a user to the team.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Serialized structure of invitation",
                        "name": "sign",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.TeamMemberResponse"
                        }
                    }
                }
            }
        },
        "/teams/{login_name}": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get team info and member info.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "team"
                ],
                "summary": "Get team info and member info.",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"e50886f3-caa6-449f-9fa8-7849c6ba2e08\"",
                        "description": "login team name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.TeamSpec"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Destroy a team.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "team"
                ],
                "summary": "Destroy a team.",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"e50886f3-caa6-449f-9fa8-7849c6ba2e08\"",
                        "description": "login team name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/users/{login_name}/agent_tokens": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List agent token by userid",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "agent_token"
                ],
                "summary": "List agent tokens by userid",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.AgentTokenList"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Create agent token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "agent_token"
                ],
                "summary": "Create agent token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.AgentToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "agent:e50886f3-caa6-449f-9fa8-7849c6ba2e08:f51c4f21508f4139bab9e12ea5d01994",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.AgentToken"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/api_keys": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the API key.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api_key"
                ],
                "summary": "Get the API key.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.KeyResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Regenerate the API key.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api_key"
                ],
                "summary": "Regenerate the API key.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.KeyResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/build": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List the build.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build"
                ],
                "summary": "List the build.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.BuildListResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Create the build.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build"
                ],
                "summary": "Create the build.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.BuildResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/build/{name}": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the build.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build"
                ],
                "summary": "Get the build.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "build name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.BuildResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List managed clusters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "List managed clusters",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ManagedClusterList"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Create managed cluster",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "Create managed cluster",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "cluster register request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ManagedCluster"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ManagedCluster"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get a managed cluster",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "Get a managed cluster",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ManagedCluster"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Update a managed cluster",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "Update a managed cluster",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "cluster update request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ManagedCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.ManagedCluster"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/api_keys": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List managed cluster API keys",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "List managed cluster API keys",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.APIKeyMap"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/build/{name}/logs": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the build log with the given build name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build",
                    "log"
                ],
                "summary": "Get the build log.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "build id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "since",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "tail",
                        "name": "tail",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentLogResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "List the deployments.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "List the deployments.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentListResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Create the deployment.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "Create the deployment.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "query params",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentCreateRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{deployment_id}": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get managed cluster user by deployment id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "Get managed cluster user by deployment id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "deployment_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "Get the deployment.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Update the deployment.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "Update the deployment.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "query params",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentUpdateRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Remove the deployment.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "Remove the deployment.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/guides": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment guide with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment"
                ],
                "summary": "Get the deployment guide.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentGuide"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/instances": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List the instances for the given inference deployment.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deployment",
                    "instance"
                ],
                "summary": "List the instances for the given inference deployment.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceListResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/logs": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment log with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "log",
                    "deployment"
                ],
                "summary": "Get the deployment log.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "since",
                        "name": "since",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "tail",
                        "name": "tail",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentLogResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/available_replicas": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment replicas metrics with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get the deployment replicas metrics.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.MetricResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/inflight_requests": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment inflight requests metrics with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get the deployment inflight requests metrics.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.MetricResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_cpu_usage": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics CPU usage with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics CPU usage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_disk_read": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics disk read with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics disk read",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_disk_write": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics disk write with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics disk write",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_gpu_memory_usage": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics GPU memory usage  with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics GPU memory usage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_gpu_memory_utilization": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics GPU memory utilizationwith the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics GPU memory utilization",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_gpu_utilization": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics GPU utilization  with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics GPU utilization",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_memory_usage": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics Memory usage with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics Memory usage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_network_read": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics network read with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics network read",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/instance_network_write": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get deployment instance metrics network write with the given deployment name and instance name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get deployment instance metrics network write",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.InstanceMetricResponseList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/replicas": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment replicas metrics with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get the deployment replicas metrics.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.MetricResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/deployments/{name}/metrics/total_requests": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the deployment total requests metrics with the given deployment name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "metric",
                    "deployment"
                ],
                "summary": "Get the deployment total requests metrics.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "start",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "end",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "step",
                        "name": "step",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.MetricResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/clusters/{cluster_id}/namespaces": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "List managed cluster namespaces",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "managed_cluster"
                ],
                "summary": "List managed cluster namespaces",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cluster id",
                        "name": "cluster_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.NamespaceList"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/deployments/{name}/events": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get events by deployment id and user id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events",
                    "deployment"
                ],
                "summary": "Get events by deployment id and user id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login_name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "deployment id",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentEventListResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/events": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get events by user id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Get events by user id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login_name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.DeploymentEventListResponse"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/profile": {
            "get": {
                "security": [
                    {
                        "Authentication": []
                    }
                ],
                "description": "Get the user profile.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Get the user profile.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login name",
                        "name": "login_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_tensorchord_modelz_apiserver_api_types.UserProfile"
                        }
                    }
                }
            }
        },
        "/users/{login_name}/secrets": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "Authentication": []
                    }
                ],
                "description": "List secrets",
[...]
